node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Cypress
cypress/downloads/*
cypress/screenshots/*
cypress/videos/*

# Fastlane
fastlane/.env
fastlane/README.md
fastlane/report.xml
fastlane/AuthKey.json

# Build
*.dSYM.zip
*.ipa

ios
android
